{% extends 'admin/change_form.html' %}
{% load i18n %}

{% block content %}
<div id="content-main">
    <fieldset class="module aligned">
        <h2>{% trans "Stored fields" %}</h2>
        <p class="help"><a href="http://django-haystack.readthedocs.org/en/latest/searchfield_api.html#stored">See here</a> for an explanation of what 'Stored' means</p>
        {% for key, value in original.get_stored_fields.items %}
        <div class="form-row">
            <label for="{{ key }}">{{ key }}</label>
            <span id="{{ key }}">{{ value }}</span>
        </div>
        {% empty %}
        <div class="form-row errors">
            <p class="help">No stored fields found</p>
        </div>
        {% endfor %}
    </fieldset>
    <fieldset class="module aligned">
        <h2>{% trans "Additional fields" %}</h2>
        {% for key, value in original.get_additional_fields.items %}
        <div class="form-row">
            <label for="{{ key }}">{{ key }}</label>
            <span id="{{ key }}">{{ value }}</span>
        </div>
        {% empty %}
        <div class="form-row errors">
            <p class="help">No additional fields found</p>
        </div>
        {% endfor %}
    </fieldset>
</div>
{% endblock %}
