{% extends 'admin/change_form.html' %}
{% load i18n %}

{% block extrastyle %}
        {{ block.super }}
        <style type="text/css">
            .form-row-preview:focus {
                background: red;
            }
            .form-row-preview .raw {
                display: none;
            }

            .form-row-preview-differs label {
                font-weight: bold;
            }

            .form-row-preview-differs:hover {
                background: #FAFAFA;
            }

            .form-row-preview:hover .raw {
                display: block;
            }

            .form-row-preview:hover .safe {
                display: none;
            }
        </style>
{% endblock %}

{% if not is_popup %}
{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="../../../../">
        {% trans "Home" %}
    </a>
    &rsaquo;
     <a href="../../../">
         {{ app_label|capfirst|escape }}
     </a>
     &rsaquo;
     <a href="../../">
         {{ module_name|capfirst }}
     </a>
     {% if form_valid %}
     &rsaquo;
    <a href="../../?{{ form.cleaned_data_querydict.urlencode }}">{% trans "Previous results" %}</a>
     {% endif %}
     {% if request.GET.q %}
     &rsaquo;
     <a href="../../?q={{ request.GET.q }}">{% blocktrans with request.GET.q as query %}matching "{{ query }}"{% endblocktrans %}</a>
     {% endif %}
     &rsaquo;
     <a href="../../?models={{ original.content_type }}">
         {{ original.verbose_name }}
     </a>
     {% if request.GET.q %}
     &rsaquo;
     <a href="../../?models={{ original.content_type }}&q={{ request.GET.q }}">
         {% blocktrans with original.verbose_name as name and request.GET.q as query %}matching "{{ query }}"{% endblocktrans %}
    </a>
    {% endif %}
     &rsaquo;
     {% trans "View stored data" %}
</div>
{% endblock %}
{% endif %}


{% block content %}
    {% block object-tools %}
        {% if original %}
        <ul class="object-tools">
            {% if original.get_app_url %}
            <li><a href="{{ original.get_app_url }}">{% blocktrans with original.app_label as app %}{{ app }} admin index{% endblocktrans %}</a></li>
            {% endif %}
            {% if original.get_model_url %}
            <li><a href="{{ original.get_model_url }}">{% blocktrans with original.verbose_name as model %}{{ model }} admin{% endblocktrans %}</a></li>
            {% endif %}
            {% if original.get_pk_url %}
            <li><a href="{{ original.get_pk_url }}">{% blocktrans with original.verbose_name as model %}edit this {{ model }}{% endblocktrans %}</a></li>
            {% endif %}
        </ul>
        {% endif %}
    {% endblock %}
    {% include "admin/haystackbrowser/view_data.html" %}
{% endblock %}
