{% extends 'admin/change_form.html' %}
{% load i18n %}
{% if not is_popup %}
{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="../../../../">
        {% trans "Home" %}
    </a>
    &rsaquo;
     <a href="../../../">
         {{ app_label|capfirst|escape }}
     </a>
     &rsaquo;
     {% if has_change_permission %}
     <a href="../../">
         {{ module_name|capfirst }}
     </a>
     &rsaquo;
     <a href="../../?models={{ original.content_type }}">
         {{ original.verbose_name }}
    </a>
     {% else %}
     {{ module_name|capfirst }}
     &rsaquo;
     {{ original.verbose_name }}
     {% endif %}
     &rsaquo;
     {% trans "View stored data" %}
</div>
{% endblock %}
{% endif %}

{% block content %}
    {% block object-tools %}
        {% if original %}
        <ul class="object-tools">
            {% if original.get_app_url != original.app_label %}
            <li>{{ original.get_app_url }}</li>
            {% endif %}
            {% if original.get_model_url != original.model_name %}
            <li>{{ original.get_model_url }}</li>
            {% endif %}
            {% if original.get_pk_url != original.pk %}
            <li>{{ original.get_pk_url }}</li>
            {% endif %}
        </ul>
        {% endif %}
    {% endblock %}
<div id="content-main">
    <fieldset class="module aligned">
        <h2>{% trans "Stored fields" %}</h2>
        <div class="description">
            <p>
            Data returned from the <a href="http://django-haystack.readthedocs.org/en/latest/searchresult_api.html#get-stored-fields">Search Result's stored_fields</a>.
            </p>
            <p>
            <a href="http://django-haystack.readthedocs.org/en/latest/searchfield_api.html#stored">See here</a> for an explanation of what 'Stored' means
            </p>
        </div>
        {% for key, value in original.get_stored_fields.items %}
        <div class="form-row field-{{ key }}">
            <label for="{{ key }}">{{ key }}</label>
            <p id="{{ key }}">{{ value }}</p>
        </div>
        {% empty %}
        <div class="form-row errors">
            <p class="help">{% trans "No stored fields found" %}</p>
        </div>
        {% endfor %}
    </fieldset>
    <fieldset class="module aligned">
        <h2>{% trans "Additional fields" %}</h2>
        <div class="description">
            <p>
            Data returned from the <a href="http://django-haystack.readthedocs.org/en/latest/searchresult_api.html#get-additional-fields">Search Result's additional_fields</a>.
            </p>
        </div>
        {% for key, value in original.get_additional_fields.items %}
        <div class="form-row">
            <label for="{{ key }}">{{ key }}</label>
            <p id="{{ key }}">{{ value }}</p>
        </div>
        {% empty %}
        <div class="form-row errors">
            <p class="help">{% trans "No additional fields found" %}</p>
        </div>
        {% endfor %}
    </fieldset>
    <fieldset class="module aligned">
        <h2>{% trans "Haystack settings" %}</h2>
        <div class="description">
            <p>
            {% trans "All relevant settings found in the Django settings module." %}
            </p>
        </div>
        {% for key, value in haystack_settings.items %}
        <div class="form-row">
            <label for="{{ key }}">{{ key }}</label>
            <p id="{{ key }}">{{ value }}</p>
        </div>
        {% empty %}
        <div class="form-row errors">
            <p class="help">{% trans "No settings found. Which is probably a bad sign." %}</p>
        </div>
        {% endfor %}
    </fieldset>
</div>
{% endblock %}
