language: python
python: 3.5
sudo: false

notifications:
  email: false

install:
  - pip install --upgrade pip setuptools tox

cache:
  directories:
    - $HOME/.cache/pip

env:
 - TOX_ENV=py27-dj13
 - TOX_ENV=py27-dj14
 - TOX_ENV=py27-dj15
 - TOX_ENV=py27-dj16
 - TOX_ENV=py27-dj17
 - TOX_ENV=py27-dj18
 - TOX_ENV=py27-dj19
 - TOX_ENV=py33-dj15
 - TOX_ENV=py33-dj16
 - TOX_ENV=py33-dj17
 - TOX_ENV=py33-dj18
 - TOX_ENV=py34-dj15
 - TOX_ENV=py34-dj16
 - TOX_ENV=py34-dj17
 - TOX_ENV=py34-dj18
 - TOX_ENV=py34-dj19
 - TOX_ENV=py35-dj18
 - TOX_ENV=py35-dj19

script:
  - tox -e $TOX_ENV
